{% extends "Layout.html" %}
{% block content %}
	<div class= "content-section">
		<form method = 'POST' action = ''>
			{{ form.hidden_tag() }}
			<fieldset class = 'form-group'>
				<legend class="border-bottom mb-4"> Junte-se hoje</legend>
				<div class= "form-group">
					{{form.Usuario.label(class="form-control-label") }}
					{{form.Usuario(class="form-control-label form-control-lg") }}
				</div>
				<div class= "form-group">
					{{form.Email.label(class="form-control-label") }}
					{{form.Email(class="formularios-control-label formularios-control-lg") }}
				</div>
				<div class= "form-group">
					{{form.Senha.label(class="form-control-label") }}
					{{form.Senha(class="form-control-label form-control-lg") }}
				</div>
				<div class= "form-group">
					{{form.ConfirmaSenha.label(class="form-control-label") }}
					{{form.ConfirmaSenha(class="form-control-label form-control-lg") }}
				</div>
				<div class= "form-group">
					{{ form.Confirma(class= "btn btn-outline-info") }}
				</div>
			</fieldset>
		</form>
	</div>
	<div class = "border-top pt-3">
		<small class = 'text muted'>
			Ja tem conta? <a class = 'ml-2' href="{{ url_for('Cadastro')}}"> Cadastre-se </a>
		</small>
	</div>

{% endblock content%}