{% extends "Layout.html" %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 50%;">
      <img class="d-block w-100" src="{{ url_for('static', filename='imagens/Homepage-Slide01.jpg')}}" alt="Primeiro Slide">
      <div class="carousel-caption d-sm-block">
    <h5 class="text-truncate" style="color: white; font-size: 50px;">Bem Vindo à IVG</h5>
    <p  style="font-size: 30px; letter-spacing: 2px;">Fazemos consultoria de IA para revenda de carros</p>
  </div>
    </div>
    <div class="carousel-item" style="height: 50%;">
      <img class="d-block w-100" src="{{ url_for('static', filename='imagens/Homepage-Slide02.jpg')}}" alt="Segundo Slide" style="opacity: .7">
      <div class="carousel-caption d-sm-block">
    <h5 style="color:white; font-size: 50px;">Algoritmo em formação</h5>
    <p  style="font-size: 30px; letter-spacing: 2px;">No momento estamos trabalhando em um algoritmo para a revenda de carros. Avisaremos quando estiver pronto</p>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<div class="container text-center mt-5 mb-5">
  <div class="row">
    <div class="col-lg m-3">
        <img class="text-center" src="{{ url_for('static', filename='imagens/Homepage-Main-Segurança.png')}}" alt="Responsive image" style="min-height: 100px; max-height: 150px;">
        <h1 style="margin: auto; font-size: 30px; letter-spacing: 2px;">Segurança</h1>
        <p style="font-size: 20px; letter-spacing: 2px;">A IVG garante a proteção dos seus dados</p>      
        </div>
        <div class="col-lg m-3">
           <img class="text-center mb-1" src="{{ url_for('static', filename='imagens/Homepage-Main-Info.png')}}" alt="Responsive image" style="min-height: 100px; max-height: 150px">
        <h1 style="margin: auto; font-size: 30px; letter-spacing: 2px;">Informações de Dados<h1>
          <p style="font-size: 20px; letter-spacing: 2px; margin-top: 5px;">Enviaremos relatórios mensais sobre as relações dos dados obtidos a partir dos nossos algoritmos</p>
        </div>
        <div class="col-lg m-3">
           <img class="text-center mb-2" src="{{ url_for('static', filename='imagens/Homepage-Main-AntiFraude.png')}}" alt="Responsive image" style="min-height: 100px; max-height: 140px; margin: 0 auto;">
        <h1 style="font-size: 30px; margin: auto; letter-spacing: 2px;">Antifraude<h1>
           <p style="font-size: 20px; letter-spacing: 2px;">100% de compromentimento em manter seus dados com transparência </p>
      </h1>
      </div>
    </div>
</div>
{% endblock content%}