{% extends "Layout.html" %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide m-auto" style="height: auto;" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: auto;">
      <img class="d-block w-100" src="{{ url_for('static', filename='imagens/Homepage-Slide01.jpg')}}" alt="Primeiro Slide" style="background-size:cover;">
      <div class="carousel-caption d-lg-block text-center m-auto">
        <div style="background-color: black; opacity: .9">
    <h5 class="text-truncate" style="color: white; font-size: 3vw; letter-spacing: 4px;">Bem Vindo à IVG</h5>
    <p style="font-size: 2vw; letter-spacing: 2px; max-width: 100%;">Inteligência de mercado, espcializada.</p>
  </div>
  </div>
    </div>
    <div class="carousel-item" style="height: auto;">
      <img class="d-block w-100" src="{{ url_for('static', filename='imagens/Homepage-Slide02.jpg')}}" alt="Segundo Slide" style="opacity: 1">
      <div class="carousel-caption d-lg-block">
        <div style="background-color: black; opacity: .9">
    <h5 style="color:white; font-size: 3vw; letter-spacing: 4px;">Algoritmos de mercado em formação</h5>
    <p  style="font-size: 2vw; letter-spacing: 2px; opacity: .9;">No momento estamos trabalhando em algoritmos de inteligência de mercado.</p>
    </div>
    </div>
    </div>
    <div class="carousel-item" style="height: auto;">
      <img class="d-block w-100" src="{{ url_for('static', filename='imagens/Homepage-Slide03.jpg')}}" alt="Terceiro Slide" style="opacity: 1">
      <div class="carousel-caption d-lg-block">
        <div class="bg-dark">

    <h5 class="text-left" style="color:white; font-size: 3vw;"></h5>
    <p class="" style="font-size: 2vw; letter-spacing: 3px; background-color: black; margin: 10px; opacity: .9;"> Tabela de inteligência de mercado a ser emitida no site</p>
    </div>
    </div>
    </div>
    <div class="carousel-item" style="height: auto;">
      <img class="d-block w-100" src="{{ url_for('static', filename='imagens/Homepage-Slide04.jpg')}}" alt="Quarto Slide" style="opacity: 1">
      <div class="carousel-caption d-lg-block">
    <h5 style="color:white; font-size: 3vw;"></h5>
    <p  style="font-size: 2vw; letter-spacing: 1px;">Em seguida, emitiremos uma análise preditiva cuja finalidade é encontrar relações matemáticas entre as variáveis (ex: preço x km rodado)</p>
    </div>
    </div>
       <div class="carousel-item" style="height: auto;">
      <img class="d-block w-100" src="{{ url_for('static', filename='imagens/Homepage-Slide05.jpg')}}" alt="Quinto Slide" style="opacity: 1">
      <div class="carousel-caption d-lg-block">
        <div style="background-color: black; opacity: .9">
    <h5 style="color:white; font-size: 3vw;"></h5>
    <p  style="font-size: 2vw; letter-spacing: 2px;">Por fim, lançaremos o monitoramento em tempo real das precificações automotivas a fim de ajudar os revendedores a compreenderem a oferta e procura da região.</p>
  </div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<div class="container text-center mt-5 mb-5">
  <div class="row">
    <div class="col-lg m-3">
        <img class="text-center" src="{{ url_for('static', filename='imagens/Homepage-Main-Segurança.png')}}" alt="Responsive image" style="min-height: 100px; max-height: 150px;">
        <h1 style="margin: auto; font-size: 3vw; letter-spacing: 2px;">Segurança</h1>
        <p style="font-size: 2vw; letter-spacing: 2px;">A IVG garante a proteção de seus dados.</p>      
        </div>
        <div class="col-lg m-3">
           <img class="text-center mb-1" src="{{ url_for('static', filename='imagens/Homepage-Main-Info.png')}}" alt="Responsive image" style="min-height: 100px; max-height: 150px">
        <h1 style="margin: auto; font-size: 3vw; letter-spacing: 2px;">Informações de Dados<h1>
          <p style="font-size: 2vw; letter-spacing: 2px; margin-top: 5px;">Enviaremos relatórios mensais sobre as relações dos dados obtidos a partir dos nossos algoritmos</p>
        </div>
        <div class="col-lg m-3">
           <img class="text-center mb-2" src="{{ url_for('static', filename='imagens/Homepage-Main-AntiFraude.png')}}" alt="Responsive image" style="min-height: 100px; max-height: 140px; margin: 0 auto;">
        <h1 style="font-size: 3vw; margin: auto; letter-spacing: 2px;">Antifraude<h1>
           <p style="font-size: 2vw; letter-spacing: 2px;">100% de compromentimento em manter seus dados com transparência. </p>
      </h1>
      </div>
    </div>
</div>
{% endblock content%}