{% extends "Layout.html" %}
{% block content %}

 <body>
        
   <header>

                 <nav class="navbar">
                    
                   <div  class="brand-title"><img src="static/imagens/LOGO R02.png" class="logo" alt="marca da IVG"></div>
                   <a href="" class="toggle-button">
                       <span class="bar"></span>
                       <span class="bar"></span>
                       <span class="bar"></span>
                   </a>
                    <div class="navbar-links">
                     <ul>
                     <li><a class="current" href="{{ url_for('HomePage') }}" target="_blank">Home</a></li>

                     <li><a href="{{ url_for('Sobre') }}"  target="_blank">Sobre</a></li> 
                                            
                      <li><a href="{{ url_for('Cadastro') }}" target="_blank">Registre-se</a></li>

                      <li><a href="{{ url_for('SegundaJanela') }}" 
                                target="_blank">Login</a></li>
                     </ul>


                 </div>        
                </nav>     
             </header>

        <!-- template do menu até aqui -->
        <main>
        <section class="entrada">
            <img src="static/imagens/algoritmo.jpg" class="algoritmo">
            <div class="breve descrição">
            <p class=frase></p>
            </div>
        <!-- área de instrução -->
        </section>
               <!-- área de login na página 2 -->
        <setion>
            </setion>
        </main>
       
    </body>
          

</html>
{% endblock content%}