 {% extends "Layout.html" %}
{% block content %}
<div class="container-fluid" style="background-image: url(static/imagens/Login-Cadastro-Background.jpg); background-size: cover; height: auto; margin: -35px auto -50px; padding: 20% 0; width: 100%;">
	<div class= "content-section mx-auto bg-dark" style="width: 350px; opacity: .9;">
		<form method = 'POST' action = ''>
			{{ form.hidden_tag() }}
			<fieldset class = 'form-group'>
		 		<legend class="border-bottom mb-4"> Log in </legend>
				<div class= "form-group">
					{{form.Usuario.label(class="form-control-label") }}
					{% if form.Usuario.errors %}
						{{ form.Usuario(class="form-control form-control-lg is-invalid")}}
						<div class = "invalid-feedback">
							{% for error in form.Usuario.errors %}
								<span>  {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
							{{ form.Usuario(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class= "form-group">
					{{form.Email.label(class="form-control-label") }}

					{% if form.Email.errors %}
						{{ form.Email(class="form-control form-control-lg is-invalid")}}
						<div class = "invalid-feedback">
							{% for error in form.Email.errors %}
								<span>  {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
							{{ form.Email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class= "form-group">
					{{form.Senha.label(class="form-control-label") }}

					{% if form.Senha.errors %}
						{{ form.Senha(class="form-control form-control-lg is-invalid")}}
						<div class = "invalid-feedback">
							{% for error in form.Senha.errors %}
								<span>  {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
							{{ form.Senha(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class = "form-check">
					{{form.Lembrete(class= "form-check-input")}}
					{{form.Lembrete.label(class="form-check-label")}}
				</div>	
			</fieldset>
			<div class= "form-group">
					{{ form.Entrar(class= "btn btn-outline-info") }}
					<small class =" text-muted ml-2">
						<a href= "{{ url_for('ResetSenha') }}"> Esqueceu da senha? </a>
					</small>
			</div>
		</form>
	<div class = "border-top pt-3 mt-2">
		<small class = 'text muted'>
			Não tem conta? <a class = "ml-2" href="{{ url_for('Cadastro') }}"> Inscreva-se</a>
		</small> 
	</div>
	</div>
</div>
{% endblock content%}
