{% extends "Layout.html" %}
{% block content %}
<body>
    <div class="container-fluid" style="background-image: url(static/imagens/Inserir-Dados-Background.jpg); background-size: cover; height: auto; margin: -35px auto -50px; padding: 20% 0;">
    <div class= "content-section  mx-auto bg-dark" style="min-width: 300px; max-width: 30%; opacity: .9;">
        <form method = 'POST' action = ''>
            {{ form.hidden_tag() }}
            <fieldset class = 'form-group'>
                    <div class= "form-group 2 mb-2">
                        {{form.Marca.label(class="form-control-label") }}
                        {% if form.Marca.errors %}
                            {{ form.Marca(class="form-control form-control-lg is-invalid")}}
                            <div class = "invalid-feedback">
                                {% for error in form.Marca.errors %}
                                    <span>  {{ error }} </span>
                                {% endfor %}
                            </div>
                        {% else %}
                                {{ form.Marca(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                <div class= "form-group 2 mb-2">
                    {{form.Modelo.label(class="form-control-label") }}
                    {% if form.Modelo.errors %}
                        {{ form.Modelo(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.Modelo.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.Modelo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class= "form-group 2 mb-2">
                    {{form.VersaoDoMotor.label(class="form-control-label") }}
                    {% if form.VersaoDoMotor.errors %}
                        {{ form.VersaoDoMotor(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.VersaoDoMotor.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.VersaoDoMotor(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class= "form-group mb-2">
                    {{form.TipoDeCombustivel.label(class="form-control-label") }}
                    {% if form.TipoDeCombustivel.errors %}
                        {{ form.TipoDeCombustivel(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.TipoDeCombustivel.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.TipoDeCombustivel(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class= "form-group mb-2">
                    {{form.Ano.label(class="form-control-label") }}

                    {% if form.Ano.errors %}
                        {{ form.Ano(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.Ano.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.Ano(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class= "form-group mb-2">
                    {{form.Quilometragem.label(class="form-control-label") }}

                    {% if form.Quilometragem.errors %}
                        {{ form.Quilometragem(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.Quilometragem.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.Quilometragem(class="form-control form-control-lg") }}
                    {% endif %}

                </div>
                <div class= "form-group mb-2">
                    {{form.Preco.label(class="form-control-label") }}

                    {% if form.Preco.errors %}
                        {{ form.Preco(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.Preco.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.Preco(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class= "form-group mb-2">
                    {{form.Cor.label(class="form-control-label") }}

                    {% if form.Cor.errors %}
                        {{ form.Cor(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.Cor.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.Cor(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class= "form-group mb-4">
                    {{form.Localidade.label(class="form-control-label") }}

                    {% if form.Localidade.errors %}
                        {{ form.Localidade(class="form-control form-control-lg is-invalid")}}
                        <div class = "invalid-feedback">
                            {% for error in form.Localidade.errors %}
                                <span>  {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                            {{ form.Localidade(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class= "form-group">
                    {{ form.Confirma(class= "btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
</body>
{% endblock content%}