{% extends "Layout.html" %}
{% block content %}
<div class="container-fluid" style="background-image: url(static/imagens/Sobre-Background.jpg); background-size: cover; height: auto; margin: -35px auto 0; padding: 20% 0;">
  <div class="row justify-content-around my-4">
    <div class="col-2 mx-5" style="background-color: black; text-align: center; opacity: .9">
      <h1>Valores</h1>
      <ol>
      <li>Solidez</li>
      <li>Nossos dados serão claros e preciso</li>
      <li>Garantimos através de nosso modelo de qualidade que as informações estarão corretas</li>
      <li>Confiança</li>
      <li>Garantimos a segurança de seus dados</li>
      <li>Enviaremos relatórios mensais</li>
      <li>Informaremos os status dos seus dados</li>
      <li>Nossos dados serão claros</li>
      </ol>
    </div>
    <div class="col-2" style="background-color: black; text-align: center; opacity: .9">
      <h1>Missão</h1>
    </div>
    <div class="col-2" style="background-color: black; text-align: center; opacity: .9">
      <h1>Visão</h1>
    </div>
    </div>
</div>
{% endblock content%}