{% extends "Layout.html" %}
{% block content %}
<div class="conteiner-fluid" style="background-image: url(static/imagens/building.jpg); background-size: cover; height: auto; margin: -35px auto -50px; padding: 40px 0;">
  <div class="row justify-content-around my-5 no-gutters">
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-around my-5 no-gutters">
    <div class="col-4">
      <h1>One of two columns</h1>
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
</div>
</div>
{% endblock content%}