{% extends "Layout.html" %}
{% block content %}
 <body>
       <header class="menu">

            <div class="principal">

          



                 <img src="static/imagens/LOGO R02.png" class="logo" alt="marca da IVG">

                 <nav>
                     
                     <ul>
                     <li><a href="{{ url_for('HomePage') }}" target="_blank">Home</a></li>

                     <li><a class="current" href="{{ url_for('Sobre') }}"  target="_blank">Sobre</a></li> 
                                            
                       <li><a href="{{ url_for('SegundaJanela') }}" 
                                target="_blank">Login</a></li>

                      <li><a href="{{ url_for('Cadastro') }}" target="_blank">Registre-se</a></li>
                     </ul>


                         
                </nav>     
                
            </div> 
            </header>
        <!-- template do menu até aqui -->
        <main>
        <section class="entrada">
            <img src="static/imagens/algoritmo.jpg" class="algoritmo">
            <div class="breve descrição">
            <p class=frase></p>
            </div>
        <!-- área de instrução -->
        </section>
               <!-- área de login na página 2 -->
        <setion>
            </setion>
        </main>
       
    </body>
{% endblock content%}