{% extends "Layout.html" %}
{% block content %}
	<div class="container-fluid" style="background-image: url(static/imagens/TerceiraJanelaSemDados.jpg); background-size: cover; height: auto; padding: 20% 0; opacity: 1; width: 100%;">
		<div class="container p-4" style="background: white; height: auto; min-width: 300px; width: 50%; color: black; opacity: .9;">
			<h1>Obrigado por inserir os seus dados! Mandaremos um e-mail quando o algoritmo estiver pronto para fazer uma conclusão :)</h1>
			<p>Ainda não tem dados suficientes para chegar a uma conclusão. No contador abaixo, você pode acompanhar a quantidade mínima de dados que o algoritmo precisa para encontrar as relações entre diversas variáveis.</p>
		</div>
	</div>
{% endblock content%}