{% extends "Layout.html" %}
{% block content %}
 <div class="container-fluid" style="background-image: url(static/imagens/Inserir-Dados-Background.jpg); background-size: cover; height: auto; margin: -35px auto -50px; padding: 0 0; width: 100%; font-size: 15px">
 	<div class="table-responsive-lg mt-4 p-4" style="font-size: 14px;">
	<table class="table table-dark text-center mx-auto mt-3 " style="width: 50%; opacity: .9; padding-top: 50px;">
	<thead>
		<td>
			Tabela dos últimos dados inseridos. 
		</td>
		<tr>
			{% for cabeca in TabelaTitulo %}
				<th scope= 'col'> {{ cabeca }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>	
			{% for Dado in Query %}
			<td>
				{{Dado.MarcaDB}}
			</td>
			<td>
				{{Dado.ModeloDB}}
			</td>
			<td>
				{{Dado.AnoDB}}
			</td>
			<td>
				{{Dado.QuilometragemDB}}
			</td>
			<td>
				{{Dado.PrecoDB}}
			</td>
			<td>
				{{Dado.CorDB}}
			</td>
			<td>
				{{Dado.LocalidadeDB}}
			</td>
		</tr>
		{% endfor %}
		<td>
			Grafico em ordem decrescente de inserção. ↟ 
		</td>
    </tbody>
    </table>
</div>
</div>

{% endblock content%}