{% extends "Layout.html" %}
{% block content %}
 <div class="container-fluid" style="background-image: url(static/imagens/Inserir-Dados-Background.jpg); background-size: cover; height: auto; margin: -35px auto -50px; padding: 0 0; width: 100%; font-size: 15px">

 	<div class="table-responsive-lg mt-4 px-4 pt-4 p-0" style="font-size: 14px;">
 		<div class="bg-dark mx-auto p-auto mb-0 text-center" style="width: 650px; opacity: .9;">
			<p class="m-0">Tabela dos últimos dados inseridos</p>
 		</div>
	<table class="table table-dark text-center mx-auto my-0 " style="width: 50%; opacity: .9; padding-top: 50px;">
	<thead>
		<tr>
			{% for cabeca in TabelaTitulo %}
				<th scope= 'col'> {{ cabeca }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>	
			{% for Dado in Query %}
		<td>
				{{Dado.MarcaDB}}
			</td>
			<td>
				{{Dado.ModeloDB}}
			</td>
			<td>
				{{Dado.VersaoDoMotorDB}}
			</td>
			<td>
				{{Dado.TipoDeCombustivelDB}}
			</td>
			<td>
				{{Dado.AnoDB}}
			</td>
			<td>
				{{Dado.QuilometragemDB}}
			</td>
			<td>
				{{Dado.PrecoDB}}
			</td>
			<td>
				{{Dado.CorDB}}
			</td>
			<td>
				{{Dado.LocalidadeDB}}
			</td>
		</tr>
		{% endfor %}
    </tbody>
    </table>
    <div class="bg-dark mx-auto pb-auto mt-0 text-center mb-5" style="width: 650px; opacity: .9;">
			<p>Grafico em ordem decrescente de inserção. ↟ </p>
 		</div>
</div>
</div>

{% endblock content%}