{% extends "Layout.html" %}
{% block content %}
<div class="container-fluid" style="background-image: url(static/imagens/Empresa-Background.jpg); background-size: cover; height: auto; padding: 10% 0 20%; width: 100%;">
	<div class= "content-section mx-auto bg-dark" style="min-width: 300px; max-width: 30%; opacity: .9;">
	  <div class="media">
	    <div class="media-body">
	      <p class="text-light"> USUÁRIO: {{ current_user.UsernameDB }}</p>
	      <p class="text-light"> E-MAIL DE CONTATO: {{ current_user.EmailDB }}</p>
	      <p class="text-light"> NOME DA EMPRESA: {{ current_user.NomeDaEmpresaDB }}</p>
	    </div>
	  </div>
		<form method = 'POST' action = ''>
			{{ form.hidden_tag() }}
			<fieldset class = 'form-group'>
		 		<legend class="border-bottom mb-4"> Quer atualizar seu cadastro? Digite aqui</legend>
				<div class= "form-group">
					{{form.Usuario.label(class="form-control-label") }}

					{% if form.Usuario.errors %}
						{{ form.Usuario(class="form-control form-control-lg is-invalid")}}
						<div class = "invalid-feedback">
							{% for error in form.Usuario.errors %}
								<span>  {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
							{{ form.Usuario(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class= "form-group mt-2">
					{{form.Email.label(class="form-control-label") }}

					{% if form.Email.errors %}
						{{ form.Email(class="form-control form-control-lg is-invalid")}}
						<div class = "invalid-feedback">
							{% for error in form.Email.errors %}
								<span>  {{ error }} </span>
							{% endfor %}
						</div>
					{% else %}
							{{ form.Email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			<div class= "form-group mt-3">
					{{ form.Confirma(class= "btn btn-outline-info") }}
			</div>
		</form>
	</div>
</fieldset>
</div>
{% endblock content%}