{% extends "Layout.html" %}
{% block content %}
<div class="conteiner-fluid" style="background-image: url(static/imagens/Faq-Background.jpg); background-size: cover; height: auto; margin: -35px auto -50px; padding: 20% 0; width: 100%;">
	<div class="container bg-dark text-center mx-auto text-center" style="width: 70%; font-size: 2vw; height: auto; border-radius: 15px;"><span class="">FAQ - Dúvidas Frequentes</span>
			<div class="row mt-2">
				<div id="accordion">
  <div class="accordion-item bg-dark">
    <div class="accordion-header" id="headingOne">
      <h5 class="mb-0">
        <button class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration: none;">
         <span class="text-light">A IVG faz consultoria?</span>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="accordion-body">
        <span class="text-light">A IVG não faz consultoria, simplesmente disponibilizamos dados do seu mercado geral. Qualquer decisão tomada será por parte sua. Vale lembrar que às vezes, disponibilizamos tendências do mesmo. Que você pode ou não aderir.</span>
       </div>
    </div>
  </div>
  <div class="accordion-item bg-dark">
    <div class="accordions-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="text-decoration: none;">
          <span class="text-light">A IVG faz relatórios para outros setores?</span>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="accordion-body">
        No momento trabalhamos apenas com revendedoras de carros, devido a seus trabalhos de vendas e revendas.
      </div>
    </div>
  </div>
  <div class="accordion-item bg-dark mb-4">
    <div class="accordion-header" id="headingThree">
      <h5 class="mb-0">
        <button class="accordion-button collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration: none;">
          <span class="text-light">O serviço é pago?</span>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="accordion-body">
        Para os contribuintes iniciais, o serviço tem um desconto considerável. Mas, enquanto alimentamos a database, o serviço é gratuito.
      </div>
    </div>
  </div>
</div>
{% endblock content%}