{% extends "Layout.html" %}
{% block content %}
<div class="container-fluid" style="background-image: url(static/imagens/Sobre-Background.jpg); background-size: cover; height: 300px; margin: -35px 0 0; padding: 20% 0; width: 100%;">
  <div class="col-lg bg-dark" style="opacity: .9">
    <h1 style="padding-left: 60px; letter-spacing: 5px;">Diretrizes da IVG</h1>
  </div>
</div>
<div class="row bg-light py-4 mx-0" style="height: auto; width: 100%;">
    <div class="col-lg text-center">
      <div class="text-dark mb-3 mx-auto">
      <div class="" style="letter-spacing: 2px;">
        <h1>Nossos valores:</h1>
      </div>
      <div class="">
        <h5 class=""></h5>
          <ol style="list-style: none; width: auto; padding: 0; letter-spacing: 2px; font-size: 20px;">
              <li>Solidez | Confiança</li>
              <li>Solidariedade | Seguridade</li>
              <li>Capacidade | Crescimento</li>
          </ol>
      </div>
      </div>
      </div>
      <div class="col-lg text-center">
      <div class="text-dark mb-3 mx-auto">
        <div class="" style="letter-spacing: 2px;">
          <h1>Visão</h1>
        </div>
        <div class="">
        <h5 class=""></h5>
          <ol style="list-style: none; width: auto; padding: 0; letter-spacing: 2px;  font-size: 20px;">
              <li> Ter um nível de influx de dados tão alto que sejamos capazes de formatar um espaço comercial completamente justo.
              </li>
          </ol>
        </div>
        </div>
      </div>
    <div class="col-lg text-center">
      <div class="text-dark mb-3 mx-auto">
        <div class="" style="letter-spacing: 2px;">
          <h1>Missão</h1>
        </div>
        <div class="">
        <h5 class=""></h5>
          <ol style="list-style: none; width: auto; padding: 0; letter-spacing: 2px; font-size: 20px;">
              <li> Ajudar na tomada de decisão por meio da matemática, como no fornecimento de estatísticas, a fim de complementar a experiência e a intuição humana de comércio.
              </li>
          </ol>
        </div>
        </div>
    </div>
    </div>
  </div>
</div>
{% endblock content%}