  
{% extends "Layout.html" %}
{% block content %}
	<div class="container-fluid" style="background-image: url(static/imagens/TerceiraJanelaSemDados.jpg); background-size: cover; height: auto; padding: 20% 0; opacity: 1; width: 100%;">
		<div class="container p-4" style="background: white; height: auto; min-width: 300px; width: 50%; color: black; opacity: .9;">
			<h1>Favor inserir mais dados! Para você ter o maior numero de algoritmos possivéis :)</h1>
			<p> No contador abaixo, você pode acompanhar a quantidade mínima de dados necessários para ver a tabela de top carros mais vendidos.</p>
			<p> Seu total de dados é : {{ contador }} você precisa inserir mais {{ faltante }}</p>
		</div>
	</div>
{% endblock content%}