{% extends "Layout.html" %}
{% block content %}


<div class="container-fluid my-auto p-1" style="background-image: url(static/imagens/TerceiraJanela-Background01.jpg); background-size: cover; height: auto; margin: 0 0 -50px; width: 100%; font-size: 15px;">
<div class="bg-dark py-3 mr-0 text-center fixed-top" style="align-items: vertical; height: auto; width: 80px; margin-top: 200px;">
	<p style="font-weight: bold; letter-spacing: 1px; font-size: auto;">Atalho</p>
	<button id=BotãoTabelaÚltimosDados type="button" class="btn btn-light bg-gradient btn-sm p-1 mx-auto mb-2" style="width: 65px;">
    	<a class="text-dark" href="#TabelaDado" style="font-size: auto; text-decoration: none; font-size: auto; font-weight: bold;">
    	<span>Últimos Dados</span>
        </a>
    </button>
    <button type="button" class="btn btn-light bg-gradient btn-sm p-1 mx-auto" style="width: 65px;">
    	<a class="text-dark" href="#TabelaMarca" style="font-size: auto; text-decoration: none; font-size: auto; font-weight: bold;">
    	<span>Top Marcas</span>
        </a>
    </button>
 <button type="button" class="btn btn-light bg-gradient btn-sm p-1 mx-auto mt-2" style=" font-weight: bold; width: 65px;">
    	<a class="text-dark" href="#TabelaModelo"  style="text-decoration: none; font-size: auto; word-break: normal;">
    		<span>Top Modelos</span>
        </a>
 </button>
  <button type="button" class="btn btn-light bg-gradient btn-sm p-1 mx-auto mt-2" style=" font-weight: bold; width: 65px;">
    	<a class="text-dark" href="#TabelaMargemDeLucro"  style="text-decoration: none; font-size: auto; word-break: normal;">
    		<span>Top M. de Lucro</span>
        </a>
    </button>
</div>
	<div id="TabelaDado" class="pt-5 mt-5">
	</div>
 	<div class="table-responsive-lg mt-5 px-4 pt-4 pb-1 mx-auto" style="font-size: 14px; width: 80%">
	<table class="table table-dark text-center mx-auto px-4 my-0" style="width: 100%; opacity: .9; padding-top: 50px;">
			<div class="bg-dark mx-auto px-auto mb-0 text-center" style="width: 100%; opacity: .9;">
				<p class="m-0">Tabela dos últimos dados inseridos</p>
 			</div>
	<thead>
		<tr>
			{% for cabeca in TituloDadosInserido %}
				<th scope= 'col'> {{ cabeca }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>	
			{% for Dado in Query %}
			<td>
				{{ Dado.MarcaDB }}
			</td>
			<td>
				{{ Dado.ModeloDB }}
			</td>
			<td>
				{{ Dado.VersaoDoMotorDB }}
			</td>
			<td>
				{{ Dado.TipoDeCombustivelDB }}
			</td>
			<td>
				{{ Dado.AnoDB }}
			</td>
			<td>
				{{ Dado.QuilometragemDB }}
			</td>
			<td>
				{{ Dado.PrecoDB }}
			</td>
			<td>
				{{ Dado.CorDB }}
			</td>
			<td>
				{{ Dado.MargemDeLucroDB }}
				{{ PresentePython }}
			</td>
			<td>
				<button id="Dado" href= '/Deleta/{{Dado.id}}' onclick="confirm(event)" type="button" class="btn btn-danger btn-sm py-1"> x</button>
			    <script type="text/javascript">
				function confirm(e)
				{
				   e.preventDefault()
				   var urlToRedirect = e.currentTarget.getAttribute('href'); //use currentTarget because the click may be on the nested i tag and not a tag causing the href to be empty
					console.log(urlToRedirect); // verify if this is the right URL
				    const swalWithBootstrapButtons = Swal.mixin({
				    customClass: {
				    confirmButton: 'btn btn-success m-4', 
				    cancelButton: 'btn btn-danger'
				  },
				  buttonsStyling: false
				})
	
	            swalWithBootstrapButtons.fire(
	            {
				  title: 'Deseja deletar o dado?',
				  text: "Atenção, os dados serão deletados imediatamente!",
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonText: 'Sim',
				  cancelButtonText: 'Cancelar',
				  reverseButtons: true				  
				}).then((result) => {
				  if (result.value) {
				  	window.location.href = urlToRedirect
				    swalWithBootstrapButtons.fire(
				      'Cancelar!',
				      'Your file has been deleted.',
				      'success'				     
				      				)}

				  else if (
				    /* Read more about handling dismissals below */
				    result.dismiss === Swal.DismissReason.cancel
				  ) {
				    swalWithBootstrapButtons.fire(
				      'Processo Cancelado',
				      'Nada ocorreu',
				      'info'
				    )
				  }
				})

				}
				</script>
			</td>
		</tr>
		{% endfor %}
    </tbody>
    </table>
    <div class="bg-dark mx-auto pb-1 mt-0 text-center mb-5" style="width: auto; opacity: .9;">
			<p>Grafico em ordem decrescente de inserção. ↟</p>
 	</div>
 	</div>
    </div> 

    <div class="container-fluid mx-auto my-0 py-1 bg-dark text-center" style="height: auto; width: 100%; letter-spacing: 3px; opacity: 1; font-size: 25px;">
    <p>Tabelas de Inteligência de Mercado</p>
    </div>
<div class="container-fluid my-0 px-auto mx-0" style="background-image: url(static/imagens/TerceiraJanela-Background02.jpg); background-size: cover; background-repeat: repeat; height: auto; width: 100%; margin: -35px auto 0;">
    <div class="row p-5 mx-auto" style="width: 100%;">
    <div class="col-lg-6">
    	<div class="pt-4" id="TabelaModelo">			
		</div>
 	<div class="table-responsive-lg mt-4 px-auto pt-4 p-0" style="font-size: 14px;">
	<table class="table table-dark text-center mx-auto my-0 " style="width: 80%; opacity: .9; padding-top: 50px;">
			<div class="bg-dark mx-auto px-0 mb-1 text-center" style="width: 80%; opacity: .9;">
				<h1 class="text-light m-0" style="font-size: 20px; font-weight: bold;">Tabela dos modelos mais vendidos em Limeira</h1>
 		    </div>
 	<thead style="font-weight: bold;">
 		<tr style="word-wrap: none;">
			{% for cabeca2 in TituloTop20Modelo %}
				<th scope= 'col'>{{ cabeca2 }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody style="letter-spacing: 2px; font-weight: bold;">
		<tr>
		{% for numero in ContadorGrupo %}
		<td>
			{{numero.MarcaDB}}
		</td>
		<td>
			{{numero.ModeloDB}}
		</td>
		<td>
			{{ numero.AnoDB }}
		</td>
		<td>
			{{ numero.total }}
		</td>
		</tr>
		{% endfor %}		
	</tbody>
    </table>
    </div>
    </div>

    <div class="col-lg-6">
    	<div class="pt-4" id="TabelaMarca">			
		</div>
	<div class="table-responsive-lg mt-4 px-4 pt-4 p-0" style="font-size: 14px;">
	<table class="table table-dark text-center mx-auto my-0 " style="width: 100%; opacity: .9; padding-top: 50px;">
			<div class="bg-dark px-1 mb-1 text-center" style="width: 100%; opacity: .9;">
				<h1 class="text-light m-0" style="font-size: 20px; font-weight: bold;">Tabela de marcas mais vendidas em Limeira</h1>
 		    </div>
 	<thead style="font-weight: bold;">
 		<tr>
			{% for cabeca2 in TituloTop20Marca %}
				<th scope= 'col'> {{ cabeca2 }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody class="bg-info" style="font-weight: bold; letter-spacing: 2px;">
		<tr>
		{% for numero in ContadorGrupo2 %}
		<td>
			{{ numero.MarcaDB }}
		</td>
		<td style="font-size: 15px;">
			{{ numero.total2 }}
		</td>
		</tr>
		{% endfor %}		
	</tbody>
    </table>    
    </div>
    </div>
    </div>
</div>    

<div class="container-fluid my-0 px-auto mx-0" style="background-image: url(static/imagens/TerceiraJanela-Background02.jpg); height: auto; background-repeat: repeat; background-size: contain; width: 100%; margin: -35px auto 0;">
		<div class="row">
			    <div class="col-lg">
			    	<div class="pt-5 mt-5" id="TabelaMargemDeLucro">			
					</div>
			    <table class="table table-dark text-center mx-auto my-0 mb-5" style="width: 60%; opacity: .9; padding-top: 100px; ">
						<div class="bg-dark px-1 mb-1 mx-auto text-center mt-4" style="width: 60%; opacity: .9;">
							<h1 class="text-light m-0" style="font-size: 20px; font-weight: bold;">Modelos com maiores margem de lucro</h1>
			 		    </div>
			 	<thead style="font-weight: bold;">
			 		<tr>
						{% for cabeca3 in TituloMargemLucro %}
							<th scope= 'col'> {{ cabeca3 }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody class="bg-info" style="font-weight: bold; letter-spacing: 2px;">
					<tr>
					{% for numero in ContadorGrupo3 %}
					<td>
						{{ numero.MarcaDB }}		
					</td>
					<td>
						{{ numero.ModeloDB }}		
					</td>
					<td>
						{{ numero.AnoDB }}
					</td>
					<td>
						{{ numero.media }}
						{{ PresentePython }}
					</td>
					</tr>
					{% endfor %}
				</tbody>
			    </table> 
			    </div>
		</div>
</div>
{% endblock content%}
