{% extends "Layout.html" %}
{% block content %}
 <div class="container-fluid my-0 py-1" style="background-image: url(static/imagens/Inserir-Dados-Background.jpg); background-size: cover; height: auto; margin: -35px auto -50px; padding: 0 0; width: 100%; font-size: 15px">

 	<div class="table-responsive-lg mt-4 px-4 pt-4 p-0" style="font-size: 14px;">
	<table class="table table-dark text-center mx-auto my-0 " style="width: 50%; opacity: .9; padding-top: 50px;">
			<div class="bg-dark mx-auto px-1 mb-0 text-center" style="width: 769px; opacity: .9;">
				<p class="m-0">Tabela dos últimos dados inseridos</p>
 			</div>
	<thead>
		<tr>
			{% for cabeca in TabelaTitulo %}
				<th scope= 'col'> {{ cabeca }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>	
			{% for Dado in Query %}
		<td>
				{{Dado.MarcaDB}}
			</td>
			<td>
				{{Dado.ModeloDB}}
			</td>
			<td>
				{{Dado.VersaoDoMotorDB}}
			</td>
			<td>
				{{Dado.TipoDeCombustivelDB}}
			</td>
			<td>
				{{Dado.AnoDB}}
			</td>
			<td>
				{{Dado.QuilometragemDB}}
			</td>
			<td>
				{{Dado.PrecoDB}}
			</td>
			<td>
				{{Dado.CorDB}}
			</td>
			<td>
				{{Dado.LocalidadeDB}}
			</td>
				<td>
				<a href= '/Deleta/{{Dado.id}}' class=' btn btn-outline-danger btn-sm p-0'><span style="font-size: 12px; height: auto;">Deletar dado</span></a> 
			</td>
		</tr>
		{% endfor %}
    </tbody>
    </table>
    <div class="bg-dark mx-auto pb-1 mt-0 text-center mb-5" style="width: 769px; opacity: .9;">
			<p>Grafico em ordem decrescente de inserção. ↟ </p>
 		</div>


 	<div class="table-responsive-lg mt-4 px-4 pt-4 p-0" style="font-size: 14px;">
	<table class="table table-dark text-center mx-auto my-0 " style="width: 50%; opacity: .9; padding-top: 50px;">
			<div class="bg-dark mx-auto px-1 mb-0 text-center" style="width: 769px; opacity: .9;">
				<p class="m-0">Tabela dos modelos mais vendidos em Limeira</p>
 		    </div>
 	<thead>
 		<tr>
			{% for cabeca2 in TituloTop20Modelo %}
				<th scope= 'col'> {{ cabeca2 }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
		{% for numero in ContadorGrupo %}
		<td>
			{{numero.MarcaDB}}
		</td>
		<td>
			{{numero.ModeloDB}}
		</td>
		<td>
			{{ numero.total }}
		</td>
		</tr>
		{% endfor %}		
	</tbody>
    </table>


	<div class="table-responsive-lg mt-4 px-4 pt-4 p-0" style="font-size: 14px;">
	<table class="table table-dark text-center mx-auto my-0 " style="width: 50%; opacity: .9; padding-top: 50px;">
			<div class="bg-dark mx-auto px-1 mb-0 text-center" style="width: 769px; opacity: .9;">
				<p class="m-0">Tabela de marcas mais vendidas em Limeira</p>
 		    </div>
 	<thead>
 		<tr>
			{% for cabeca2 in TituloTop20Marca %}
				<th scope= 'col'> {{ cabeca2 }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
		{% for numero in ContadorGrupo2 %}
		<td>
			{{numero.MarcaDB}}
		</td>
		<td>
			{{ numero.total2 }}
		</td>
		</tr>
		{% endfor %}		
	</tbody>
    </table>    
</div>
</div>

{% endblock content%}